01-starter-files/angular-image-assets/.DS_Store
03-frontend/angular-ecommerce/.angular
03-frontend/angular-ecommerce/node_modules
03-frontend/angular-ecommerce/src/assets/images/.DS_Store
03-frontend/angular-ecommerce/.DS_Store
03-frontend/.DS_Store
.DS_Store
02-backend/spring-boot-ecommerce/.mvn
03-frontend/angular-ecommerce/.vscode
